<br>
<br>
<br>
<div class="container" style="min-height:437px">

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#tabArt">Bài viết liên quan</a></li>
                <li class="tab col s3"><a href="#tabReq">Những câu hỏi , yêu cầu liên quan</a></li>
            </ul>
        </div>
        <div id="tabArt" class="col s12">
            <div *ngIf="arts">


                <div *ngFor="let a of arts| paginate: configArt" class="panel panel-default">
                    <div class="panel-body clearfix">
                        <p><span class="title"><a [routerLink]="['/article',a._id]">{{a.title}}</a></span></p>

                        <p><span class="sumary"></span></p>

                        <p *ngIf="a.tagsFD.length>0">
                            tags :
                            <span *ngFor="let t of a.tagsFD">
                                <a [routerLink]="['/tag',t._id]" routerLinkActive="active">{{t.name}}</a>,
                            </span>
                        </p>

                        <p>
                            <span class="dateArt">{{a.createdAt | date:"dd/MM/yyyy"}}</span>
                        </p>

                        <p>
                            <span *ngIf="a.ofUser" class="author">by : <a
                                    [routerLink]="['/user',a.ofUser]">{{a.ofUser}}</a> </span>
                        </p>
                    </div>
                </div>
                <div *ngIf="arts.length!=0">
                    <pagination-controls [id]="configArt.id"
                                         [maxSize]="maxSizeArt"
                                         [directionLinks]="directionLinksArt"
                                         [autoHide]="autoHideArt"
                                         (pageChange)="onPageChangeArt($event)"></pagination-controls>
                </div>
            </div>
            <div *ngIf="arts.length==0">
                <h5 class="center-align">Không có bài viết liên quan</h5>
            </div>
        </div>
        <div id="tabReq">
            <div class="panel panel-default" *ngFor="let request of requests| paginate: configReq">
                <div *ngIf="isExistRecord">
                    <h1>Không có yêu cầu nào được tìm thấy</h1>
                </div>
                <div class="panel-body">
                    <a [routerLink]="['/requests/'+ request._id + '/info']" routerLinkActive="active">
                        <p class="lead"> {{request.title}}</p>
                    </a>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
                        Người tạo : <a [routerLink]="['/user/' + request.user]">{{request.user}}</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
                        Trạng thái : {{request.status}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left fixEfMenu">
                        Ngày tạo : {{request.createdAt | date:"dd/MM/yyyy"}}
                    </div>
                    <tags [listTagId]="request.tags"></tags>
                </div>
            </div>
            <div *ngIf="requests.length!=0">
                <pagination-controls [id]="configReq.id"
                                     [maxSize]="maxSizeReq"
                                     [directionLinks]="directionLinksReq"
                                     [autoHide]="autoHideReq"
                                     (pageChange)="onPageChangeReq($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
