<div class="container mg-top-50">
  <!-- Search back.request -->
  <form id="searchdivid2" class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input #text type="text" class="form-control" placeholder="Nhập nội dung tìm kiếm">
    </div>
    <button (click)="search(text.value)" type="submit" class="btn btn-small">Tìm kiếm</button>
    <button *ngIf="userToken != null" type="button" class="btn btn-primary btn-small" [routerLink]="['/requests/create']">
      Create
    </button>
  </form>
  <br>
  <br>
  <div class="container" style="min-height:437px">

    <br>
    <!-- list all-->
    <div id="lst-request" class="col-xs-12 col-sm-9 fixEfMenu">
      <div *ngIf="isExistRecord">
        <h1>Không có yêu cầu nào được tìm thấy</h1>
      </div>
      <div class="panel panel-default card-rq" *ngFor="let e of _data">
        <div class="panel-body">
          <a [routerLink]="['/requests/'+e.req._id+'/info']">
            <p class="lead">{{e.req.title}}</p>
          </a>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
            Nội dung : {{e.req.description}}
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
            Người tạo :<a [routerLink]="['/user/',e.req.user]"> {{e.req.user}}</a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
            Trạng thái : {{e.req.status}}
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left fixEfMenu">
            Ngày tạo : {{e.req.createdAt | date:"dd/MM/yyyy"}}
          </div>
          <p>
            tags :
                <span *ngFor="let t of e.tags">
                    <a [routerLink]="['/tag',t._id]">{{t.name}}</a>,
                </span>
          </p>
        </div>
      </div>
    </div>
    <!--<friend-list></friend-list>-->
  </div>

</div>
<!-- /.container -->