
<div class="container">
    <div class="row">
        <form class="col s12 m12">
            <div class="row">
                <div class="input-field col s6">
                    <input #text id="search" type="text">
                    <label for="search">Tìm kiếm yêu cầu</label>
                </div>
                <div class="input-field col s6">
                    <a class="btn-floating btn-large waves-effect waves-light red" (click)="search(text.value)"><i
                            class="material-icons">search</i></a>
                    <a *ngIf="userToken != null" class="btn-floating btn-large waves-effect waves-light blue"
                       [routerLink]="['/requests/create']">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="isExistRecord" class="row">
        <h1>Không có yêu cầu nào được tìm thấy</h1>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <div class="card" *ngFor="let e of _data">
                <div class="card-content">
                    <a class="card-title" [routerLink]="['/requests/'+e.req._id+'/info']">{{e.req.title}}</a>

                    <p>{{e.sum}}</p>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s4 m4">
                            <p>Người tạo :<a [routerLink]="['/user/',e.req.user]"> {{e.req.user}}</a></p>
                        </div>
                        <div class="col s4 m4">
                            <p>Trạng thái : {{e.req.status}}</p>
                        </div>
                        <div class="col s4 m4">
                            <p>Ngày tạo : {{e.req.createdAt | date:"dd/MM/yyyy"}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <p *ngIf="e.req.tags.length!=0">
                                <tags [listTagId]="e.req.tags"></tags>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<private-chat></private-chat>