main{
    padding-left: 200px;
    padding-top: 64px;
}
.side-nav {
    width: 200px;
    top:64px;
}
.side-nav li {
    padding: 0;
}
body {
    backgroud: white;
}
header {
    width: 100%;
    position:fixed;
    z-index: 100;
}
@media only screen and (max-width: 992px) {
    main {
        padding-left: 0px;
        padding-top: 56px;
    }
    .side-nav {
        width: 200px;
        top:0px;
    }
}
.logo {
    display:block;
    padding:3px;
    background-color:#fff;
    color:#3B5999;
    height:50px;
    width:50px;
    margin:0px;
    margin-right:2px;
    margin-left:15px;
    font-weight:700;
    text-align:center;
    text-decoration:none;
    text-shadow:0 0 1px;
    border-radius:2px;
}
a:hover {
    text-decoration: none;
}
.row {
    padding:5px;
}
.dropdown-content{
    margin-top: 64px;
    width: 250px !important;
}
.notification {
    height: 150px;
    overflow: hidden;
}
#submit {
    margin-top: 30px;
    margin-left: -350px;
}
.btn {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 5px!important;
}
