<div class="container">
    <div id="login-page" class="row">
        <div class="col s6 offset-s3 z-depth-2 card-panel">
            <form class="login-form " [ngFormModel]="loginForm" (ngSubmit)="login(loginForm.value)">

                <div *ngIf="errorMessage" class="center row wrap-err-msg">
                    <span class="err-msg center"><i class="tiny material-icons">error</i>{{errorMessage}}</span>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <input id="username" class="form-control form-text" type="text" required maxlength="30"
                               name="username"
                               [ngFormControl]="loginForm.controls['username']"
                        />
                        <label for="username" class="center-align">Tên</label>
                    </div>
                </div>
                <div class="input-field col s12">
                    <input id="password" class="form-control" type="password" required maxlength="30"
                           name="mật khẩu"
                           [ngFormControl]="loginForm.controls['password']"
                    />
                    <label for="password">Mật khẩu</label>
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light col s12" type="submit">Đăng nhập</button>
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light col s12" type="reset" [routerLink]="['/reg']">Đăng
                        ký
                    </button>
                </div>
                <div class="input-field col s12 m12 l12">
                    <p class="margin right-align medium-small"><a [routerLink]="['/reset-password']">Quên mật khẩu
                        đăng nhập?</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

