.idea
coverage
node_modules
client/dev/demo/*
typings
demo
client/dev/index.js
client/dev/*.map
client/dev/app/*.js
client/dev/app/*.map
client/dev/dashboard/**/*.js
client/dev/dashboard/**/*.map
client/dev/kshare/**/*.map
client/dev/kshare/**/*.js
client/dist/*.js
client/dist/*.map
server/*-compiled.js
server/*.map
server/**/*-compiled.js
server/**/*.map
tests
