.idea
coverage
node_modules
unit_coverage
bower_components
typings
client/dev/*.js
client/dev/*.map
client/dev/app/*.js
client/dev/app/*.map
client/dev/dashboard/**/*.js
client/dev/dashboard/**/*.map
client/dev/kshare/**/*.map
client/dev/kshare/**/*.js
server/*-compiled.js
server/*.map
server/**/*-compiled.js
server/**/*.map
