<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="nav menu">
    <li>
      <a href="index.html">
        <span class="glyphicon glyphicon-home"></span>
        Dashboard</a>
    </li>
    <li class="active">
      <a href="users.html">
        <span class="glyphicon glyphicon-user"></span>
        Users </a>
    </li>
    <li><a href="knowledges.html"><span class="glyphicon glyphicon-book"></span> Knowledge </a></li>
    <li>
      <a href="requests.html">
        <span class="glyphicon glyphicon-flag"></span>
        Requests </a>
    </li>
    <li>
      <a href="ksspaces.html">
        <span class="glyphicon glyphicon-transfer"></span>
        KS Space </a>
    </li>
    <li>
      <a href="badwords.html">
        <span class="glyphicon glyphicon-remove"></span>
        Bad words</a>
    </li>
  </ul>
</div>
<!--/.sidebar-->

