<div class="col-md-12">
<table class="table table-striped mg-top-15px" align="center">
  <thead>
    <tr class="tb-header">
      <th>Username</th>
      <th>Display Name</th>
      <th>Role</th>
      <th>Join date</th>
      <th>Updated date</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="#user of users">
      <td>{{user.username}}</td>
      <td>{{user.displayName}}</td>
      <td>{{user.role}}</td>
      <td>{{user.createdAt}}</td>
      <td>{{user.updatedAt}}</td>
    </tr>
  </tbody>
</table>
  </div>

