<div class="container tagShowData">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#tabArt">Bài viết liên quan</a></li>
                <li class="tab col s3"><a href="#tabReq">Những câu hỏi , yêu cầu liên quan</a></li>
            </ul>
        </div>
        <div id="tabArt" class="col s12">
            <div *ngIf="listArt" class="row">
                <div *ngFor="let a of listArt| paginate: configArt" class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span *ngIf="a.title.length>70" class="card-title"><a [routerLink]="['/article',a._id]">{{a.title.substring(0,150)}}
                                ...</a></span>
                            <span *ngIf="a.title.length<=70" class="card-title"><a [routerLink]="['/article',a._id]">{{a.title}}</a></span>

                            <div class="row">

                                <div class="col s4">
                                    <span class="stt">Trạng thái : {{a.status}} </span>
                                </div>

                                <div class="col s4">
                                    <span class="dateArt">Ngày tạo : {{a.createdAt | date:"dd/MM/yyyy"}}</span>
                                </div>

                                <div class="col s4">
                                    <span *ngIf="a.author" class="author">viết bởi :
                                        <a [routerLink]="['/user',a.author]">{{a.author}}</a> </span>
                                </div>
                            </div>
                            <div class="col s12">
                                <span *ngIf="a.content.length>70">{{a.content.substring(0,150)}} ...</span>
                                <span *ngIf="a.content.length<=70">{{a.content}}</span>
                            </div>
                            <div class="row">
                                <div class="col s12 m12">
                                    <p *ngIf="a.tags.length!=0">
                                        <tags [listTagId]="a.tags"></tags>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="listArt.length!=0">
                    <pagination-controls [id]="configArt.id"
                                         [maxSize]="maxSizeArt"
                                         [directionLinks]="directionLinksArt"
                                         [autoHide]="autoHideArt"
                                         (pageChange)="onPageChangeArt($event)"></pagination-controls>
                </div>
            </div>
            <div *ngIf="listArt.length==0">
                <h5 class="center-align">Không có bài viết liên quan</h5>
            </div>
        </div>
        <div id="tabReq" class="col s12">
            <div *ngIf="listReq" class="row">
                <div *ngFor="let r of listReq| paginate: config" class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span *ngIf="r.title.length>70" class="card-title"><a
                                    [routerLink]="['/requests/'+r._id+'/info']">{{r.title.substring(0,150)}} ...</a></span>
                            <span *ngIf="r.title.length<=70" class="card-title"><a
                                    [routerLink]="['/requests/'+r._id+'/info']">{{r.title}}</a></span>
                            <div class="row">
                                <div class="col s4">
                                    Người tạo : <a [routerLink]="['/user/' + r.user]">{{r.user}}</a>
                                </div>
                                <div class="col s4">
                                    Trạng thái : {{r.status}}
                                </div>
                                <div class="col s4">
                                    Ngày tạo : {{r.createdAt | date:"dd/MM/yyyy"}}
                                </div>
                            </div>
                            <div class="col s12">
                                <span *ngIf="r.description.length>70">{{r.description.substring(0,150)}} ...</span>
                                <span *ngIf="r.description.length<=70">{{r.description}}</span>
                            </div>
                            <div class="row">
                                <div class="col s12 m12">
                                    <tags [listTagId]="r.tags"></tags>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="listReq.length!=0">
                    <pagination-controls [id]="config.id"
                                         [maxSize]="maxSize"
                                         [directionLinks]="directionLinks"
                                         [autoHide]="autoHide"
                                         (pageChange)="onPageChange($event)"></pagination-controls>
                </div>

            </div>
            <div *ngIf="listReq.length==0">
                <h5 class="center-align">Không có dữ liệu liên quan</h5>
            </div>
        </div>
    </div>
</div>

<private-chat></private-chat>