<br>
<br>
<br>
<br>
<div class="body-rq-page" id="sb-site">

  <div class="container">
    <div class="col-xs-12 col-sm-9 fixEfMenu">
      <div class="panel panel-default kspace card-rq">
        <video height="350" id="localVideo"></video>
        <div class="panel-body">
          <div class="btn-group">
            <a href="" class="btn btn-primary"><i class="fa fa-video-camera" aria-hidden="true"></i><br>Video Call</a>
            <a href="" class="btn btn-primary"><i class="fa fa-signal" aria-hidden="true"></i><br>Streaming</a>
            <a href="" class="btn btn-primary"><i class="fa fa-file" aria-hidden="true"></i><br>Upload File</a>
          </div>
          <div class="row">
            <div id="remotesVideos" width="200" height="200"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- chat box -->
    <div class="col-xs-12 col-sm-3 bg-white fixEfMenu">
      <div id="chatbox"></div>
      <form name="message" action="">
        <textarea class="form-control" rows="5" id="mes" rows="4" cols="50"></textarea>
        <button type="button" class="btn btn-info">Button</button>
      </form>
    </div>
  </div>
</div>
<script src="bundle.js"></script>
