<br>
<br>
<br>
<br>
<!-- Search request -->
<div class="container" style="min-height:100px">
  <div class="form-group" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fixEfMenu">
    <label class="control-label" for="search">Tìm kiếm </label>
    <input class="form-control" #text id="search" type="text" placeholder="Tìm kiếm" style="width:75%" />
    <button type="submit" (click)="search(text.value)" class="btn btn-primary btn-small glyphicon glyphicon-search"></button>
    <br>
    <br>
    <button *ngIf="userToken != null" type="button" class="btn btn-primary btn-small" data-toggle="modal" data-target="#modalCreateRequest">
                Create Request
  </button>
  </div>
</div>
<br>
<div class="container" style="min-height:437px">
  <request-create></request-create>
  <!--search-->
  <div *ngIf="searchs && searchs.length" id="lst-request" class="col-xs-12 col-sm-9 fixEfMenu">
    <div class="panel panel-default card-rq" *ngFor="let search of searchs| paginate: configRs">
      <div class="panel-body">
        <a [routerLink]="[search._id]">
          <p class="lead">Tìm người giảng bài</p>
        </a>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fixEfMenu">
          Tiêu đề : {{search.title}}
        </div><br>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
          Trạng thái : {{search.status}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left fixEfMenu">
          Ngày tạo : {{search.createdAt}}
        </div>
      </div>
    </div>
    <pagination-controls
      [id]="configRs.id"
      (pageChange)="configRs.currentPage  = $event"
      directionLinks="true"
      autoHide="true">
    </pagination-controls>
  </div>
  
  <br>
  <!-- list all-->
  <div id="lst-request" class="col-xs-12 col-sm-9 fixEfMenu" [hidden]="hide">
    <div class="panel panel-default card-rq" *ngFor="let request of requests| paginate:configRq">
      <div class="panel-body">
        <a [routerLink]="[request._id]">
          <p class="lead">Tìm người giảng bài</p>
        </a>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fixEfMenu">
          Tiêu đề : {{request.title}}
        </div><br>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
          Trạng thái : {{request.status}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left fixEfMenu">
          Ngày tạo : {{request.createdAt}}
        </div>
      </div>
    </div>
    <pagination-controls 
      [id]="configRq.id"
      (pageChange)="configRq.currentPage  = $event"
      directionLinks="true"
      autoHide="true">
    </pagination-controls>
  </div>
  <friend-list></friend-list>
</div>