<div class="chat_box">
  <div class="chat_head"> Chat Box</div>
  <div class="chat_body">
    <div class="user"> AnhNQ</div>
  </div>
</div>

<div class="msg_box" style="right:290px">
  <div class="msg_head">AnhNQ
    <div class="close">x</div>
  </div>
  <div class="msg_wrap">
    <div class="msg_body">
      <div class="msg_a">1234	</div>
      <div class="msg_b">123</div>
      <div class="msg_push"></div>
    </div>
    <div class="msg_footer">
      <textarea class="msg_input" rows="4"></textarea>
    </div>
  </div>
</div>
