<ul class="collapsible side-nav fixed" data-collapsible="accordion" id="slide-out">

    <li *ngFor="let knowledge of knowledges">
        <div class="collapsible-header">
            <a [routerLink]="['/mix/category/'+ knowledge._id]" routerLinkActive="active">
                <span>{{knowledge.name}}</span>
                <span class="right"><i *ngIf="knowledge.subCategory.length > 0" class="material-icons">arrow_drop_down</i></span>
            </a>
        </div>
        <div class="collapsible-body">
            <ul *ngIf="knowledge.subCategory.length > 0">
                <li *ngFor="let subCate of knowledge.subCategory">
                    <a [routerLink]="['/mix/subcategory/'+ subCate._id]" routerLinkActive="active">
                        <span>{{subCate.name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
