<div class="row" style="padding-right:0!important;">
    <div class="col s12 m12" style="padding-right:0!important;">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">Tạo</div>
                <div class="collapsible-body">
                    <div class="row">
                        <form class="col s12" role="form" [ngFormModel]="knowledgeForm" (ngSubmit)="addKnowledge(knowledgeForm.value)">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col s6">
                                        <input class="form-control"
                                               type="text"
                                               required="required"
                                               id="name" name="name"
                                               placeholder="Tri thức"
                                               [ngFormControl]="knowledgeForm.controls['name']"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <input class="form-control"
                                               type="text"
                                               required="required"
                                               id="description" name="description"
                                               placeholder="Nội dung"
                                               [ngFormControl]="knowledgeForm.controls['description']"/>
                                    </div>
                                </div>
                                <button type="submit" class="waves-effect waves-light btn">Hoàn thành</button>
                                <button type="reset" class="waves-effect waves-light btn">Nhập lại</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <div style="padding: 35px;" align="center" class="card">
            <div class="row">
                <div class="left card-title">
                    <b>Quản lý người dùng</b>
                </div>
            </div>
            <div>
                <p-treeTable [value]="knowledgeAdmin">
                    <p-column field="num" header="STT"></p-column>
                    <p-column field="name" header="Tri thức"></p-column>
                    <p-column field="description" header="Nội dung"></p-column>
                    <p-column field="status" header="Trạng thái">
                        <template let-knowledge="rowData">
                            <p *ngIf="knowledge.data.status==true">Kích hoạt</p>
                            <p *ngIf="knowledge.data.status==false">Đóng</p>
                        </template>
                    </p-column>
                    <p-column styleClass="col-button">
                        <template let-knowledge="rowData">
                            <button type="button" *ngIf="knowledge.data.status==true" pButton class="btn-floating waves-effect waves-light red" (click)="changeKnowledgeStatus(knowledge.data._id)">
                                <i class="material-icons">remove</i>
                            </button>
                            <button type="button" *ngIf="knowledge.data.status==true" pButton class="btn-floating waves-effect waves-light orange" [routerLink]="['/admin/knowledges/'+ knowledge.data._id]">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" *ngIf="(knowledge.data.status==false&&!knowledge.data.hasOwnProperty('parent'))||(knowledge.data.hasOwnProperty('parent')&&knowledge.data.status==false)" pButton class="btn-floating waves-effect waves-light green" (click)="changeKnowledgeStatus(knowledge.data._id)">
                                <i class="material-icons">done</i>
                            </button>
                            <button type="button" *ngIf="knowledge.data.status==true&&!knowledge.data.hasOwnProperty('parent')" pButton class="btn-floating waves-effect waves-light blue modal-trigger" (click)="openModal(knowledge.data._id)">
                                <i class="material-icons">add</i>
                            </button>
                            <sub-create [knowledges]="knowledge.data" kId="{{knowledge.data._id}}"></sub-create>
                        </template>
                    </p-column>
                </p-treeTable>
            </div>
        </div>
    </div>
</div>