<div id="page-wrapper">
  <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
          <div class="col-lg-12">
              <ol class="breadcrumb">
                  <li>
                      <i class="fa fa-dashboard"></i>  <a href="index.html">Bảng</a>
                  </li>
                  <li class="active">
                      <i class="fa fa-file"></i> Quản lý tri thức
                  </li>
              </ol>
          </div>
          <div class="col-lg-12">
              <h1 class="page-header">
                  Quản lý tri thức
              </h1>
          </div>
      </div>
      <!-- /.row -->
      <div class="col-lg-8">
        <div class="row">
          <div class="input-group">
            <input type="text" class="form-control" id="filter" placeholder="Tìm kiếm" [(ngModel)]="filter">
            <span class="input-group-btn" style="width:0;">
              <button type="button" class="btn btn-info" id="submit" data-toggle="collapse" data-target="#create">Tạo</button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="create">
            <form role="form" id="create" class="collapse" [ngFormModel]="knowledgeForm" (ngSubmit)="addKnowledge(knowledgeForm.value)">
              <div class="form-group">
                <label for="title">Tiêu đề</label>
                <input class="form-control" type="text" required="required" id="name" name="name"
                       [ngFormControl]="knowledgeForm.controls['name']"/>
                <label for="description">Nội dung</label>
                <textarea class="form-control" type="text" required="required" id="description" name="description"
                          [ngFormControl]="knowledgeForm.controls['description']"></textarea>
                <button type="submit" class="btn btn-success">Hoàn thành</button>
                <button type="reset" class="btn btn-warning">Nhập lại</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <div>
                <table class="table table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                          <th>STT</th>
                          <th>Tri thức</th>
                          <th>Nội dung</th>
                          <th>Trạng thái</th>
                          <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody class="searchable" *ngFor="let knowledge of knowledges | stringFilter: filter| paginate: { itemsPerPage: 10, currentPage: page }">
                        <tr>
                          <td></td>
                          <td>{{knowledge.name}}</td>
                          <td>{{knowledge.description}}</td>
                          <td *ngIf="knowledge.status==true">active</td>
                          <td *ngIf="knowledge.status==false">deactive</td>
                          <td class="center">
          									<a class="btn btn-info" *ngIf="knowledge.status==true" [routerLink]="['/admin/knowledges/'+ knowledge._id]">
          										<i class="fa fa-pencil-square-o white"></i>
          									</a>
          									<a class="btn btn-danger" *ngIf="knowledge.status==true" (click)="changeKnowledgeStatus(knowledge)">
          										<i class="fa fa-times white"></i>
          									</a>
                            <a class="btn btn-warning" *ngIf="knowledge.status==false" (click)="changeKnowledgeStatus(knowledge)">
          										<i class="fa fa fa-check white"></i>
          									</a>
                            <a class="btn btn-primary" *ngIf="knowledge.status==true" (click)="hide()" data-toggle="modal" [attr.data-target]="'#' + knowledge._id">
                              <i class="fa fa-plus"></i>
                            </a>

                            <sub-create [knowledges]="knowledges" kId="{{knowledge._id}}"></sub-create>
                            <a class="btn btn-success" data-toggle="collapse" [attr.data-target]="'.' + knowledge._id">
          										<i class="fa fa-code-fork" aria-hidden="true"></i>
          									</a>
          								</td>
                        </tr>
                        <tr bgcolor="#5bc0de" *ngFor="let subCate of knowledge.subCategory" class="{{knowledge._id}}" hidden>
                          <td></td>
                          <td>{{subCate.name}}</td>
                          <td>{{subCate.description}}</td>
                          <td *ngIf="subCate.status==true">active</td>
                          <td *ngIf="subCate.status==false">deactive</td>
                          <td>
                            <a class="btn btn-info" *ngIf="subCate.status==true" [routerLink]="['/admin/knowledges/'+ subCate._id]">
          										<i class="fa fa-pencil-square-o white"></i>
          									</a>
                            <a class="btn btn-danger" *ngIf="subCate.status==true" (click)="changeKnowledgeStatus(subCate)">
          										<i class="fa fa-times white"></i>
          									</a>
                            <a class="btn btn-warning" *ngIf="subCate.status==false&&knowledge.status==true" (click)="changeKnowledgeStatus(subCate)">
          										<i class="fa fa-check white"></i>
          									</a>
                          </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
  </div>
</div>
