<div id="error-page">
    <div class="row">
        <div class="col s12">
            <div class="content">
                <div class="row">
                    <div id="site-layout-example-top" class="col s12">
                        <h4 class="flat-text-logo center white-text caption-uppercase">Xin lỗi :(</h4>
                    </div>
                    <div id="site-layout-example-right" class="col s12 m12 l12">
                        <div class="row center">
                            <h1 class="text-long-shadow col s12">404</h1>
                        </div>
                        <div class="row center">
                            <h5 class="center white-text col s12">Trang này không tồn tại!!!</h5>
                            <p class="center s12"><a [routerLink]="['/']" class="btn waves-effect waves-light">Trang chủ</a>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>