<!--<audio id="xyz" src="gets-in-the-way.mp3" preload="auto"></audio>-->
<!--<div class="navbar-header-common">-->
    <!--<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">-->
        <!--<div class="container topnav">-->
            <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse"-->
                        <!--data-target="#bs-example-navbar-collapse-1">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--&lt;!&ndash;<a class="navbar-brand topnav" href="#">UKSN Logo</a>&ndash;&gt;-->
            <!--</div>-->
            <!--<div id="snackbar"><span><a [routerLink]=[link] style="color:white;">{{notiTitle}}</a></span></div>-->
            <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                <!--<a class="navbar-brand topnav" [routerLink]="['/']">Kshare.xyz</a>-->
                <!--<ul class="nav navbar-nav navbar-right" *ngIf="loginToken">-->
                    <!--<li>-->
                        <!--<a [routerLink]="['/kspace']" class="pd-bot-0"><i class="fa fa-television"-->
                                                                          <!--data-toggle="dropdown" aria-hidden="true"></i></a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;toggle notifications&ndash;&gt;-->
                    <!--&lt;!&ndash;<a (click)="changeStatusNotification()" class="dropdown-toggle" data-toggle="dropdown"&ndash;&gt;-->
                    <!--&lt;!&ndash;role="button" aria-expanded="false">&ndash;&gt;-->
                    <!--&lt;!&ndash;&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--<li>-->
            <!--<span (click)="changeStatusNotification()" class="dropdown-toggle notification-icon" data-toggle="dropdown"-->
                  <!--data-count="2">-->
							<!--<i class="fa fa-bell-o" aria-hidden="true"></i>-->
						<!--</span>-->
                        <!--<span *ngIf="countUnReadNoti>0" class="badge">{{countUnReadNoti}}</span>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li *ngFor="let notification of notifications">-->
                                <!--<a [routerLink]="[notification.link]" routerLinkActive="active">-->
                                    <!--<span *ngIf="notification.status === 'Đã đọc'">{{notification.title}}</span>-->
                                    <!--<span *ngIf="notification.status === 'Chưa đọc'" style="color:red;">{{notification.title}}</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<a (click)="seeMore()">Xem thêm</a>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <!--&lt;!&ndash;end notification&ndash;&gt;-->
                    <!--<li>-->
                        <!--<a [routerLink]="['/requests']" routerLinkActive="active" class="pd-bot-0"><i-->
                                <!--class="fa fa-comments-o"-->
                                <!--aria-hidden="true"></i></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a [routerLink]="['/article']" routerLinkActive="active" class="pd-bot-0">bài viết</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--&lt;!&ndash;<button (click)="openChat()" class="btn modal-trigger">chat</button>&ndash;&gt;-->
                        <!--<a (click)="openChat()"><i class="material-icons"><span *ngIf="isNewMessage"-->
                                                                                <!--class="badge">Mới</span></i></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="btn-group" style="padding-top:8%;padding-right:8%;">-->
                            <!--<button type="button" style="border:none;" class="btn btn-default" aria-haspopup="true"-->
                                    <!--aria-expanded="false" [routerLink]="['/user/' + userToken]">-->
                                <!--{{userToken}}-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li *ngIf="roleToken === 'admin'">-->
                        <!--<div class="btn-group" style="padding-top:8%;padding-right:8%;">-->
                            <!--<button type="button" style="border:none;" class="btn btn-default" aria-haspopup="true"-->
                                    <!--aria-expanded="false" [routerLink]="['/admin/']">-->
                                <!--Bảng điều khiển-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<button class="btn btn-success btLogin" (click)="logout()">Logout</button>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<ul class="nav navbar-nav navbar-right" *ngIf="!loginToken">-->
                    <!--<li>-->
                        <!--<a [routerLink]="['/kspace']" class="pd-bot-0">Giới thiệu </a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a [routerLink]="['/kspace']" class="pd-bot-0">Trải nghiệm Kspace </a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<button class="btn btn-success btLogin" id="btnShowLogin" [routerLink]="['/login']">Login-->
                        <!--</button>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.container &ndash;&gt;-->
    <!--</nav>-->
<!--</div>-->

<audio id="xyz" src="gets-in-the-way.mp3" preload="auto"></audio>
<header [hidden]="isRoom">
    <nav class="indigo" role="navigation">
        <div class="nav-wrapper">
            <a *ngIf="!isFrontend" data-activates="slide-out" (click)="open()" class="button-collapse displayPointer"><i class="medium material-icons">toc</i></a>
            <a *ngIf="isFrontend" class="btnOpenNavF left displayPointer" (click)="openKnw()" data-activates="slide-out"><i (click)="openKnw()" class="material-icons">import_contacts</i></a>
            <!--btn group-->
            <ul class="right" [hidden]="!loginToken">
                <li>
                    <a [routerLink]="['/newsfeed']"><i class="material-icons">today</i></a>
                </li>
                <li>
                    <a [routerLink]="['/requests']" routerLinkActive="active"><i class="material-icons">receipt</i></a>
                </li>
                <li>
                    <a aria-label="Các bài viết" [routerLink]="['/article']" routerLinkActive="active"><i class="material-icons">book</i></a>
                </li>
                <!--toggle notifications-->

                <!--<a (click)="changeStatusNotification()" class="dropdown-toggle" data-toggle="dropdown"-->
                <!--role="button" aria-expanded="false">-->
                <!---->
                <!--</a>-->
                <li>
                    <a class='right dropdown-button' (click)="changeStatusNotification()" data-activates='noti_dropdown'><i class=' material-icons'>add_alert</i><span *ngIf="countUnReadNoti>0" class="new badge red">{{countUnReadNoti}}</span></a>
                    <ul class="dropdown-content noti-liss" id="noti_dropdown">
                        <li *ngFor="let notification of notifications">
                            <a [routerLink]="[notification.link]">
                                <span *ngIf="notification.status === 'Đã đọc'">{{notification.title}}</span>
                                <span *ngIf="notification.status === 'Chưa đọc'" style="color:red;">{{notification.title}}</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="seeMore()">Xem thêm</a>
                        </li>
                    </ul>
                </li>
                <!--end notification-->
                <li>
                    <!--<button (click)="openChat()" class="btn modal-trigger">chat</button>-->
                    <a (click)="openChat()"><i class="material-icons">message</i><span *ngIf="isNewMessage" class="new badge red">!</span></a>
                </li>
                <!--name-->
                <li>
                    <a class='right dropdown-button' data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
                    <ul class="dropdown-content" id="user_dropdown">
                        <li><a class="indigo-text" [routerLink]="['/user/' + userToken]">{{userToken}}</a></li>
                        <li><a class="indigo-text" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="right" *ngIf="loginToken&&roleToken=='admin'">
                <li>
                    <a class="waves-effect waves-light btn btLogin" href="/admin">Quản lý</a>
                </li>
            </ul>
            <ul class="left">
                <li>
                    <input #nameSearch id="searchFriend" type="search" placeholder="Tìm bạn" required (keyup.enter)="searchFriend(nameSearch.value)">
                </li>
            </ul>
            <ul class="right" *ngIf="!loginToken">
                <li>
                    <a [routerLink]="['/']" class="waves-effect waves-light">Giới thiệu </a>
                </li>
                <li>
                    <a [routerLink]="['/kspace']" class="waves-effect waves-light">Trải nghiệm Kspace </a>
                </li>
                <li>
                    <button class="waves-effect waves-light btn btLogin" id="btnShowLogin" [routerLink]="['/login']">Login</button>
                </li>
            </ul>
        </div>
    </nav>
</header>