<audio id="xyz" src="gets-in-the-way.mp3" preload="auto"></audio>
<header [hidden]="isRoom">
    <nav class="indigo" role="navigation">
        <div class="nav-wrapper">
            <a *ngIf="isFrontend" [routerLink]="['/']" class="brand-logo logoK hide-on-med-and-down">Kshare</a>
            <a data-activates="slide-out" (click)="open()" class="button-collapse displayPointer">
                <i class="medium material-icons">toc</i>
            </a>
            <!--btn group-->
            <ul class="right" [hidden]="!loginToken">
                <!--<li [hidden]="!isFrontend">
                    <a [routerLink]="['/newsfeed']"><i class="material-icons">today</i></a>
                </li>-->
                <li [hidden]="!isFrontend">
                    <a [routerLink]="['/requests']" routerLinkActive="active"><i class="material-icons">receipt</i></a>
                </li>
                <li [hidden]="!isFrontend">
                    <a aria-label="Các bài viết" [routerLink]="['/article']" routerLinkActive="active"><i class="material-icons">book</i></a>
                </li>
                <!--toggle notifications-->
                <li>
                    <a class='right dropdown-button' (click)="changeStatusNotification()" data-activates='noti_dropdown'><i class=' material-icons'>add_alert</i><span *ngIf="countUnReadNoti>0" class="new badge red">{{countUnReadNoti}}</span></a>
                    <ul class="dropdown-content noti-liss" id="noti_dropdown">
                        <li *ngFor="let notification of notifications">
                            <a [routerLink]="[notification.link]">
                                <span *ngIf="notification.status === 'Đã đọc'">{{notification.title}}</span>
                                <span *ngIf="notification.status === 'Chưa đọc'" style="color:red;">{{notification.title}}</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="seeMore()">Xem thêm</a>
                        </li>
                    </ul>
                </li>
                <!--end notification-->
                <li>
                    <a (click)="openChat()"><i class="material-icons">message</i><span *ngIf="isNewMessage" class="new badge red">!</span></a>
                </li>
                <!--name-->
                <li>
                    <a [hidden]="!isFrontend" class='right dropdown-button' data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
                    <ul class="dropdown-content" id="user_dropdown">
                        <li><a class="indigo-text" [routerLink]="['/user/' + userToken]">{{userToken}}</a></li>
                        <li><a class="indigo-text" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ul [hidden]="!isFrontend" class="right" *ngIf="roleToken=='admin' || roleToken =='mod'">
                <li>
                    <a class="waves-effect waves-light btn btLogin" href="/admin">Quản lý</a>
                </li>
            </ul>
            <ul [hidden]="isFrontend" class="right" *ngIf="roleToken=='admin'|| roleToken =='mod'">
                <li>
                    <a class="waves-effect waves-light btn btLogin" href="/">Thoát</a>
                </li>
            </ul>
            <ul [hidden]="!isFrontend">
                <li>
                    <input #nameSearch id="searchFriend" type="search" placeholder="Tìm bạn" required (keyup.enter)="searchFriend(nameSearch.value)">
                </li>
            </ul>
            <ul class="right" *ngIf="!loginToken">
                <li>
                    <button class="waves-effect waves-light btn btLogin" id="btnShowLogin" [routerLink]="['/login']">Login</button>
                </li>
            </ul>
        </div>
    </nav>
</header>
