#chalkboard {
    cursor: crosshair;
    width: 60rem;
    height: 100%;
    background: white;
}
 /*Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {

}

/*/ Dành cho máy tính bảng chiều ngang !**/
@media all and (min-width: 1024px) {

}

/*/ Dành cho màn hình desktop !**/
@media all and (min-width: 1280px) {
    .wrapper-chalkboard {
        width: 55rem;
        overflow: scroll;
        height: 37rem;
    }
    #chalkboard {
        cursor: crosshair;
        width: 87rem;
        height: 100%;
        background: white;
    }
}
@media screen and (min-width: 1680px) {
    #chalkboard {
        cursor: crosshair;
        width: 83rem;
        height: 100%;
        background: white;
    }
}

#draw-tools {
    cursor: pointer;
    position: absolute;
    border-radius: 2px;
    width: 65px;
    background: white;
    float: right;
}
.tool-btn {
    text-indent: 7px;
    background-color: #ffffff;
    width: 50px;
    height: 30px;
    margin-top: 5px;
    margin-left: 8px;
    border: solid 1px gray;
    border-radius: 2px;
    font-size: small;
    display: inline-block;
}
#eraser{
    padding: 0px 10px;
    margin-left: 10px;
}
hr{
    margin-top: 6px;
    margin-bottom: 1px;
    border: 0;
    border-top: 1px solid #eee;
}
#draw-option {
    z-index: 10;
    border: none;
    color: black;
    background-color: white;
}
.tool-div-kp{
    background-color: #66BEFF;
    margin-right: 34rem;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    display: inline-flex;
}
.tabs-bd{
    margin-bottom: 2px;
}
.slc-tl{
    padding-top: 9px;
}

.dropdown-tl-kp {
    position: relative;
    display: inline-block;
    margin-top: 9px;
    margin-left: 6px;
    border: solid 1px gray;
}

.dropdown-tl-kp .dropdown-menu-tl-kp {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;

    /****************
     ** NEW STYLES **
     ****************/

    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown-tl-kp:hover .dropdown-menu-tl-kp {
    display: block;
}

/** Button Styles **/
.dropdown-tl-kp span {
    background: white;
    color: black;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1em;
}

/** List Item Styles **/
.dropdown-tl-kp a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #CCCCCC;
    color: #333333;
}

/** List Item Hover Styles **/
.dropdown-tl-kp a:hover {
    background: #BBBBBB;
}

.dropdown-tl-kp ul li {
    cursor: pointer;
}