#chalkboard {
    cursor: crosshair;
    width: 60rem;
    height: 100%;
    background: white;
}
 /*Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {

}

/*/ Dành cho máy tính bảng chiều ngang /*/
@media all and (min-width: 1024px) {

}

/*/ Dành cho màn hình desktop /*/
@media all and (min-width: 1280px) {
    .wrapper-chalkboard {
        width: 60rem;
        overflow: scroll;
        height: 37rem;
    }
    #chalkboard {
        cursor: crosshair;
        width: 87rem;
        height: 100%;
        background: white;
    }
}
@media screen and (min-width: 1680px) {
    #chalkboard {
        cursor: crosshair;
        width: 83rem;
        height: 100%;
        background: white;
    }
}

#draw-tools {
    cursor: pointer;
    position: absolute;
    border-radius: 2px;
    width: 65px;
    background: white;
}

.tool-btn {
    text-indent: 7px;
    background-color: #ffffff;
    width: 50px;
    height: 30px;
    margin-top: 5px;
    margin-left: 8px;
    border: solid 1px gray;
    border-radius: 2px;
    font-size: small;
    -webkit-appearance:none;
    -moz-appearance:none;
    display: -webkit-box;
}
#eraser{
    padding: 0px 10px;
    margin-left: 10px;
}


hr{
    margin-top: 6px;
    margin-bottom: 1px;
    border: 0;
    border-top: 1px solid #eee;
}

#draw-option {
    z-index: 10;
    border: none;
    color: black;
    background-color: white;
}
