.peerName {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 12%;
}
.kspace-btn {
  color: white;
  border: none;
  background-color: inherit;
  margin-top: 10px;
  margin-left: 35px;
}

.local-panel {
  background-color: #2c2c2c;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.kspace-panel {
  background-color: #00a6dd;
  position: fixed;
  top: 0;
  left: 16.66666667%;
  bottom: 0;
  right: 0;
  overflow: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.chat-box {
  position: fixed;
  top: 4%;
  left: 83%;
  right: 1%;
  bottom: 12%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.draw-tools {
  position: fixed;
  top: 78%;
  left: 18%;
  right: 19%;
  bottom: 3%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.kspace {
  position: fixed;
  top: 4%;
  left: 18%;
  right: 19%;
  bottom: 23%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
#chat-form {
  position: fixed;
  border-radius: 2px;
  top: 88%;
  left: 83%;
  right: 1%;
  bottom: 5%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: block;
}
#chat-input {
  resize: none;
  width: 80%;
  height: 100%;
  border-radius: 0;
}
#btn-send {
  width: 20%;
  position: absolute;
  height: 100%;
  border: 0;
  background-color: white;
}

 #localVideo {
   margin-top: 3%;
   height: 18.5%;
   border-radius: 2px;
 }
 #rtcTools {
   border-style: solid;
   border-color: #ffffff;
   border-width: 1px 0 1px 0;
   margin-top: 10px;
   height: 50px;
 }
 #remoteVideos {
   height: 100%;
   margin-top: 15px;
 }

