<div id="page-wrapper">
  <div class="container-fluid">
		<div class="row">
				<div class="col-lg-12">
						<ol class="breadcrumb">
								<li>
										<i class="fa fa-dashboard"></i>  <a href="index.html">Bảng</a>
								</li>
								<li>
										<i class="fa fa-file"></i> <a [routerLink]="['/admin/badwords']">Quản lý từ xấu</a>
								</li>
								<li class="active">
										<i class="fa fa-file"></i> Thông tin từ xấu
								</li>
						</ol>
				</div>
		</div>
		<div class="row" *ngIf="badword">
			<div class="col-lg-12">
				<div class="update">
					<form role="form" id="update" [ngFormModel]="updateBadwordForm" (ngSubmit)="updateBadword(updateBadwordForm.value)">
						<div class="form-group">
								<h4>Thông tin từ xấu <strong>{{badword.word}}</strong> </h4>
								<input class="form-control" maxlength="20" type="text" required="required" id="word" name="word" [ngModel]="word" [ngFormControl]="updateBadwordForm.controls['word']">
								<input class="form-control" name="_id" id="id" type="hidden"
			                  [ngModel]="id" [ngFormControl]="updateBadwordForm.controls['_id']">
								<button type="submit" class="btn btn-success">Hoàn thành</button>
								<button type="reset" class="btn btn-warning">Nhập lại</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
