<!--<div class="container mg-top-50">-->
    <!--<div class="row">-->
        <!--<div class="col-md-3"></div>-->
        <!--<div class="col-md-6">-->
            <!--<div class="loginPanel">-->
                <!--<div class="box-header">-->
                    <!--<h3>Cập nhật thông tin cá nhân</h3>-->
                <!--</div>-->
                <!--<form [ngFormModel]="updateUserForm" (ngSubmit)="update(updateUserForm.value)">-->
                    <!--<div class="form-group">-->
                        <!--<input class="form-control form-text"-->
                               <!--type="text"-->
                               <!--required-->
                               <!--placeholder="Họ và tên"-->
                               <!--name="fullName"-->
                               <!--[ngFormControl]="updateUserForm.controls['fullName']"-->
                        <!--&gt;-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<input class="form-control form-text"-->
                               <!--type="text"-->
                               <!--required-->
                               <!--placeholder="Tên hiển thị"-->
                               <!--name="displayName"-->
                               <!--[ngFormControl]="updateUserForm.controls['displayName']"-->
                        <!--&gt;-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<input class="form-control"-->
                               <!--type="date"-->
                               <!--placeholder="Ngày sinh"-->
                               <!--name="birthday"-->
                               <!--[ngFormControl]="updateUserForm.controls['birthday']"-->
                        <!--&gt;-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<input class="form-control form-text"-->
                               <!--type="text"-->
                               <!--required-->
                               <!--placeholder="Số điện thoại"-->
                               <!--name="phone"-->
                               <!--[ngFormControl]="updateUserForm.controls['phone']"-->
                        <!--&gt;-->
                    <!--</div>-->
                    <!--<span>Lĩnh vực am hiểu</span> :<br>&lt;!&ndash;end editor &ndash;&gt;-->
                    <!--<p-autoComplete [suggestions]="filteredKnw" (completeMethod)="filterKnw($event)" [minLength]="1"-->
                                    <!--[multiple]="true" [(ngModel)]="tags">-->
                    <!--</p-autoComplete>-->
                    <!--&lt;!&ndash;end tags&ndash;&gt;-->

                    <!--<div class="row">-->
                        <!--<div class="col-sm-6">-->
                            <!--<button class="form-control btn btn-success" type="submit">Cập nhật</button>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.col-sm-6 &ndash;&gt;-->
                        <!--<div class="col-sm-6">-->
                            <!--<button class="form-control btn btn-primary" (click)="returnHome()">Trang chủ</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.row &ndash;&gt;-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3"></div>-->
    <!--</div>-->
<!--</div>-->
<div class="container">
    <div id="login-page" class="row">
        <div class="col s12 z-depth-2 card-panel">
            <form class="login-form" [ngFormModel]="updateUserForm" (ngSubmit)="update(updateUserForm.value)">
                <div class="input-field col s12">
                    <input class="form-control form-text"
                           type="text"
                           required
                           name="fullName"
                           [ngFormControl]="updateUserForm.controls['fullName']"
                    >
                    <label for="username" class="center-align">Họ và tên</label>
                </div>
                <div class="input-field col s12">
                    <input class="datepicker"
                           type="date"
                           name="birthday"
                           [ngFormControl]="updateUserForm.controls['birthday']"
                    >
                </div>
                <div class="input-field col s12">
                    <input class="form-control form-text"
                           type="text"
                           required
                           name="phone"
                           [ngFormControl]="updateUserForm.controls['phone']"
                    >
                    <label for="password-again" class="center-align">Số điện thoại</label>
                </div>
                <div class="input-field col s12">
                    <p>Lĩnh vực am hiểu:</p><br><!--end editor -->
                    <p-autoComplete [suggestions]="filteredKnw" (completeMethod)="filterKnw($event)" [minLength]="1"
                                    [multiple]="true" [(ngModel)]="tags">
                    </p-autoComplete>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <button type="submit" class="btn waves-effect waves-light col s12">Cập nhật</button>
                    </div>
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light col s12" (click)="returnHome()">Trang chủ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<private-chat></private-chat>