<div *ngIf="!userToken" class="row img-nf">
    <div class="parallax-container intro">
        <div class="parallax">
            <img src="/client/dev/asserts/images/intro-bg.jpg">
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <h1 class="grey-text text-lighten-5">Kshare</h1>
                <h5 clas="grey lighten-4 grey-text text-darken-1">Mạng chia sẻ tri thức không giới hạn</h5><br>
                <button class="btn-large waves-effect waves-light blue">Đăng ký ngay!</button>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="row">
        <div class="col s8 m8">
            <div *ngFor="let record of records">
                <!--1--><!--1--><!--1--><!--1--><!--1--><!--1-->
                <div *ngIf="record.user" class="card">
                    <div class="card-content">
                        <a [routerLink]="['/requests/' + record._id + '/info']"><h5>{{record.title}}</h5></a>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s4 m4">
                                <span>Tạo bởi : <a [routerLink]="['/user/' + record.user]">{{record.user}}</a> </span>
                            </div>
                            <div class="col s4 m4">
                                <span class="dateArt">{{record.createdAt | date:"dd/MM/yyyy"}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12">
                                <p *ngIf="record.tags">
                                    <tags [listTagId]="record.tags"></tags>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--article-->
                <div *ngIf="record.author" class="card">
                    <div class="card-content">
                        <a *ngIf="record.title.length>=70" [routerLink]="['/article/' + record._id]"><h5>
                            {{record.title.substring(0,150)}} ...</h5></a>
                        <a *ngIf="record.title.length<70" [routerLink]="['/article/' + record._id]"><h5>
                            {{record.title}}</h5></a>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s4 m4">
                                <span>Tạo bởi : <a>{{record.author}}</a> </span>
                            </div>
                            <div class="col s4 m4">
                                <span>Trạng thái : {{record.status}}</span>
                            </div>
                            <div class="col s4 m4">
                                <span class="dateArt">{{record.createdAt | date:"dd/MM/yyyy"}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12">
                                <p *ngIf="record.tags">
                                    <tags [listTagId]="record.tags"></tags>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a *ngIf="userToken!==null" (click)="seeMore()">Xem thêm</a>
        </div>
        <div class="col s4 m4">
            <top-articles></top-articles>
        </div>
    </div>
</div>
<private-chat></private-chat>
