<div *ngIf="articles" class="card  blue darken-1 box-ldb-top">
    <div class="card-content cnt-lb white-text contain-text">
        <center><span class="card-title">Top kiến thức</span></center>
        <div class="row artTop">
            <div>
                <img alt="Hạng nhất" class="img-leaderboard" src="/client/dev/asserts/images/king.png">
            </div>
            &nbsp;
            <div>
                <a *ngIf="articles[0].title.length>35" [routerLink]="['/article',articles[0]._id]" class="tit-art">{{articles[0].title.substring(0,35)}}...</a>
                <a *ngIf="articles[0].title.length<=35" [routerLink]="['/article',articles[0]._id]" class="tit-art">{{articles[0].title}}</a>
                <span class="new badge white black-text"><i class="tiny material-icons">insert_chart</i>4 like</span>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row artTop">
            <div>
                <img alt="Hạng hai" class="img-leaderboard" src="/client/dev/asserts/images/2.png">
            </div>
            &nbsp;
            <div>
                <a *ngIf="articles[1].title.length>35" [routerLink]="['/article',articles[1]._id]" class="tit-art">{{articles[1].title.substring(0,35)}}...</a>
                <a *ngIf="articles[1].title.length<=35" [routerLink]="['/article',articles[1]._id]" class="tit-art">{{articles[1].title}}</a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row artTop">
            <div>
                <img alt="Hạng ba" class="img-leaderboard" src="/client/dev/asserts/images/3.png">
            </div>
            &nbsp;
            <div>
                <a *ngIf="articles[2].title.length>35" [routerLink]="['/article',articles[2]._id]" class="tit-art">{{articles[2].title.substring(0,35)}}...</a>
                <a *ngIf="articles[2].title.length<=35" [routerLink]="['/article',articles[2]._id]" class="tit-art">{{articles[2].title}}</a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row artTop">
            <div>
                <img alt="Hạng bốn" class="img-leaderboard" src="/client/dev/asserts/images/4.png">
            </div>
            &nbsp;
            <div>
                <a *ngIf="articles[3].title.length>35" [routerLink]="['/article',articles[3]._id]" class="tit-art">{{articles[3].title.substring(0,35)}}...</a>
                <a *ngIf="articles[3].title.length<=35" [routerLink]="['/article',articles[3]._id]" class="tit-art">{{articles[3].title}}</a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row artTop">
            <div>
                <img alt="Hạng năm" class="img-leaderboard" src="/client/dev/asserts/images/5.png">
            </div>
            &nbsp;
            <div>
                <a *ngIf="articles[4].title.length>35" [routerLink]="['/article',articles[4]._id]" class="tit-art">{{articles[4].title.substring(0,35)}}...</a>
                <a *ngIf="articles[4].title.length<=35" [routerLink]="['/article',articles[4]._id]" class="tit-art">{{articles[4].title}}</a>
            </div>
        </div>
    </div>
</div>