<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="#">Bảng</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Quản lý Tag
                    </li>
                </ol>
                <br><br>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tagAt">Đang hoạt động</a></li>
            <li><a data-toggle="tab" href="#tagDa">Bị đóng</a></li>
        </ul>

        <div class="tab-content">
            <div id="tagAt" class="tab-pane fade in active">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control" id="filter" placeholder="Tìm kiếm"
                                   [(ngModel)]="filter">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Chức năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let t of tagsAt| stringFilter: filter">
                                    <td>{{t.name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                                (click)="deactiveTag(t._id)">
                                            deactivate
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <p-paginator rows="10" totalRecords="{{total}}" pageLinkSize="10"
                                 (onPageChange)="paginate($event)"></p-paginator>
                </div>
            </div>
            <div id="tagDa" class="tab-pane fade">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control" id="filter1" placeholder="Tìm kiếm"
                                   [(ngModel)]="filter1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Chức năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let t of tagsDa| stringFilter: filter1">
                                    <td>{{t.name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success"
                                                (click)="activeTag(t._id)">
                                            active
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <p-paginator rows="10" totalRecords="{{total1}}" pageLinkSize="10"
                                 (onPageChange)="paginate1($event)"></p-paginator>
                </div>
            </div>
        </div>


    </div>
</div>