@media all and (min-width: 1024px) {
  #bs-example-navbar-collapse-1{
        padding-left: 5%;
  }
  .pd-bot-0 {
    padding-bottom: 0px;
  }
  .icon-label {

  }
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
    animation: fadein 0.5s, fadeout 0.5s 9.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.dropdown-content{
    margin-top: 64px;
    width: 250px !important;
}
.notification {
    height: 150px;
    overflow: hidden;
}
.brand-logo {
    margin-left: 5px;
}
.noti-liss{
    max-height: 250px !important;
}

#searchFriend{
    margin-left: 122px;
    color: black;
    background-color: white;
    border-radius: 11px;
    padding-right: 0px;
    padding-left: 16px;
}

.logoK{
    margin-top: 0px;
    display: block;
    height: 50px;
    width: 50px;
    margin: 0px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px;
    opacity: 1;
    color: white;
    text-shadow: 0 0 5px #6bf;
}