
<nav>
    <div class="nav-wrapper indigo darken-2">
        <a style="margin-left: 20px;" class="breadcrumb">Quản lý</a>
        <a class="breadcrumb">Quản lý người dùng</a>
        <div style="margin-right: 20px;" id="timestamp" class="right"></div>
    </div>
</nav>
<div [hidden]="createHid" class="row">
    <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">Tạo</div>
                <div class="collapsible-body">
                    <div class="row">
                      <div *ngIf="errorMessage" class="card-panel orange darken-1">
                        <span class="white-text">
                          <i class="material-icons left">report_problem</i>{{errorMessage}}
                        </span>
                      </div>
                        <form class="col s12" role="form" [ngFormModel]="userForm" (ngSubmit)="addUser(userForm.value)">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input class="form-control"
                                               type="text"
                                               required="required"
                                               id="username"
                                               name="username"
                                               [ngFormControl]="userForm.controls['username']"/>
                                        <label for="username">Tên người dùng</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input class="form-control"
                                               type="password"
                                               required="required"
                                               id="password"
                                               name="password"
                                               [ngFormControl]="userForm.controls['password']"/>
                                        <label for="password">Mật khẩu</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input class="form-control"
                                               type="email"
                                               required="required"
                                               id="email"
                                               name="email"
                                               [ngFormControl]="userForm.controls['email']"/>
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <select name="role"
                                                id="role"
                                                required="required"
                                                class="form-control"
                                                [ngFormControl]="userForm.controls['role']">
                                            <option selected>Lựa chọn </option>
                                            <option value="admin">Admin</option>
                                            <option value="mod" >Mod</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="waves-effect waves-light btn">Hoàn thành</button>
                                <button type="reset" class="waves-effect waves-light btn">Nhập lại</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div style="padding: 35px;" align="center" class="card">
            <div class="row">
                <div class="left card-title">
                    <b>Quản lý người dùng</b>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input #gb id="filter" type="text" pInputText>
                    <label for="filter">Tìm kiếm</label>
                </div>
            </div>
            <div class="row">
                <p-dataTable [value]="users" [rows]="10" [paginator]="true" [globalFilter]="gb" [filter]="true">
                    <p-column field="username" header="Tên"[sortable]="true" [filter]="true">
                        <template let-user="rowData">
                            <a [routerLink]="['/user',user.username]">{{user.username}}</a>
                        </template>
                    </p-column>
                    <p-column field="email" header="Email"[sortable]="true" [filter]="true"></p-column>
                    <p-column field="role" header="Nhiệm"[sortable]="true" [filter]="true"></p-column>
                    <p-column field="createdAt" header="Tạo ngày"[sortable]="true" [filter]="true">
                        <template let-col let-user="rowData">
                            {{user[col.field] | date:"dd/MM/yyyy"}}
                        </template>
                    </p-column>
                    <p-column styleClass="col-button">
                        <template let-user="rowData">
                            <button id="{{user._id}}" *ngIf="!user.banStatus.status" type="button" pButton class="btn-floating waves-effect waves-light blue" (click)="banUser(user)"><i class="material-icons">remove</i></button>
                            <button *ngIf="user.status==='active'" id="lock{{user._id}}" type="button" pButton class="btn-floating" (click)="deactivateUser(user)"><i class="material-icons">not_interested</i></button>
                            <button *ngIf="user.status==='deactive' || user.banStatus.status===true" id="open{{user._id}}" type="button" pButton class="btn-floating" (click)="activateUser(user)"><i class="material-icons">lock_open</i></button>
                        </template>
                    </p-column>
                </p-dataTable>
                <footer>Có {{numOfUser}} người dùng</footer>
            </div>
        </div>
    </div>
</div>
<private-chat></private-chat>
