<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="row">
                <div class="input-field col s12">
                    <input class="form-control" id="inputTitle" [(ngModel)]="titelArticle" type="text"
                           required="required">
                    <label for="inputTitle">Tiêu đề</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <p>Chọn trạng thái:</p>
                    <select #stt class="browser-default">
                        <option value="public" selected>Công khai</option>
                        <option value="private">Riêng tư</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="editor">
                    <ck-editor>ckeditor_inst_1</ck-editor>
                </div>
                <div id="ModalUploadImgCkeditor" class="modal">
                    <div class="modal-content">
                        <h4>Chèn ảnh</h4>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">1. Chèn ảnh bằng link</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m12">
                                            <div class="row">
                                                <div class="input-field col s6">
                                                    <input #linkIsImg class="form-control" id="linkIsImg" type="text">
                                                    <label for="linkIsImg">Chèn link vào đây</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <a class="btn-floating btn-large waves-effect waves-light modal-close blue"
                                                       (click)="insertLinkToBox(linkIsImg.value)">
                                                        <i class="material-icons">add</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">2. Upload ảnh từ máy</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m12">
                                            <div class="row">
                                                <div class="file-field input-field col s9 m9">
                                                    <div class="btn">
                                                        <span>File</span>
                                                        <input #fileInput id="uploadImg"
                                                               (change)="fileChangeEvent($event)"
                                                               type="file" accept="image/*">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text">
                                                    </div>
                                                </div>
                                                <div class="input-field col s3 m3">
                                                    <a class="btn-floating btn-large waves-effect waves-light modal-close blue"
                                                       (click)="uploadImageCk()">
                                                        <i class="material-icons">add</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">Thoát</a>
                    </div>
                </div>
                <div id="ModalYTCkeditor" class="modal">
                    <div class="modal-content">
                        <h4>Chèn link youtube</h4>

                        <div class="row">
                            <div class="col s12 m12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input #linkYT class="form-control" id="linkIsYT" type="text"/>
                                        <label for="linkIsYT">Chèn link youtube vào đây</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <a class="btn-floating btn-large waves-effect waves-light modal-close blue"
                                           (click)="insertYoutubeToBox(linkYT.value)">
                                            <i class="material-icons">add</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">Thoát</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <p><span>Bài viết này liên quan tới</span></p>
                    <!--end editor -->
                    <p-autoComplete [suggestions]="filteredKnw" (completeMethod)="filterKnw($event)" [minLength]="1"
                                    [multiple]="true" [(ngModel)]="tags">
                    </p-autoComplete>
                </div>
                <div id="preLoad" class="progress green accent-3">
                    <div class="indeterminate"></div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="postArticle(stt.value)">Tạo bài viết</button>
        </div>
    </div>
</div>

<private-chat></private-chat>