<div class="container article">
    <div *ngIf="article">
        <div *ngIf="canSee">
            <span class="titleArtDe"> {{article.title}}</span>
            <span class="byAu">by <a [routerLink]="['/user',article.ofUser]">{{article.ofUser}}</a></span>

            <div class="row">
                <div class="col-sm-12">
                <span *ngIf="article.status=='public'"><i class="fa fa-hand-paper-o"
                                                          aria-hidden="true"></i> public</span>
                <span *ngIf="article.status=='private'"><i class="fa fa-hand-rock-o"
                                                           aria-hidden="true"></i> private</span>
                    <span *ngIf="article.status=='deactivate'"><i class="fa fa-times-circle-o" aria-hidden="true"></i> deactivate</span>
                    <span *ngIf="article.status=='pending'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> pending</span>
                </div>
            </div>
            <div class="row">
                <div class="btn-group btn-art">
                    <a *ngIf="roleToken=='admin' || article.ofUser==userToken" class="btn btn-primary "
                       href="/article/edit/{{article._id}} ">Edit</a>
                    <a *ngIf="(roleToken=='admin' || article.ofUser==userToken)&& article.status!='deactivate'" type="button" class="btn btn-danger" data-toggle="modal" data-target="#mdCfClose">Đóng bài
                        viết</a>
                    <a class="btn btn-primary " data-toggle="modal" id="btnRp" data-target="#myModal">báo cáo</a>
                </div>
            </div>
            <div class="messOff">

            </div>
            <div class="bodyArt" [class.deAc]="isDeAc">

            </div>
            <div *ngIf="tags" class="tags">
                tags : <span *ngFor="let t of tags">
            <a [routerLink]="['/tag',t._id]">{{t.name}}</a>,
        </span>
            </div>
            <div class="dateCreate">
                {{article.createdAt | date:"dd/MM/yyyy"}}
            </div>
            <!--modal close-->
            <div id="mdCfClose" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>Bài viết sẽ bị đóng không thể khôi phục trừ khi có quyển trị viên can thiệp , bạn có muốn
                                tiếp tục ?</p>
                        </div>
                        <div class="modal-footer">
                            <button id="clsArtBtn"
                                    *ngIf="(roleToken=='admin' || article.ofUser==userToken)&& article.status!='deactivate'"
                                    (click)="deactivateArticle(article._id)" type="button" class="btn btn-danger"
                                    data-dismiss="modal">Đóng bài viết
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Huỷ</button>
                        </div>
                    </div>

                </div>
            </div>


            <report *ngIf="article" reportedUser="{{article.ofUser}}"></report>
        </div>
    </div>


    <div *ngIf="!canSee" class="noti-err">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9">
                <i class="fa fa-ban fa-3x" aria-hidden="true"></i><span class="text-noti-err-edit">Nội dung này không khả dụng</span>
            </div>
        </div>
    </div>
</div>
