
<div class="container">
    <div class="row">
        <form id="searchdivid2" class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input #text type="text" class="form-control" placeholder="Nhập nội dung tìm kiếm">
            </div>
            <button (click)="searchArticle(text.value)" type="submit" class="btn btn-small">Tìm kiếm</button>
            <button *ngIf="userToken != null" type="button" class="btn btn-primary btn-small"
                    [routerLink]="['/article/create']">
                Tạo bài viết
            </button>
        </form>
    </div>
    <div *ngIf="isExist">
        <h1>Không có bài viết nào được tìm thấy</h1>
    </div>
    <div *ngIf="listArt" class="row">
        <div class="col s12 m12">
            <div class="card" *ngFor="let a of listArt">
                <div class="card-content">
                    <a [routerLink]="['/article',a._id]">{{a.title}}</a>

                    <span class="sumary"></span>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s4 m4">
                            <span *ngIf="a.ofUser" class="author">by : <a
                                    [routerLink]="['/user',a.ofUser]">{{a.ofUser}}</a> </span>
                        </div>
                        <div class="col s4 m4">
                            <p>Trạng thái : {{a.status}}</p>
                        </div>
                        <div class="col s4 m4">
                            <span class="dateArt">{{a.createdAt | date:"dd/MM/yyyy"}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <span *ngFor="let t of a.tagsFD">
                                <a [routerLink]="['/tag',t._id]">{{t.name}}</a>,
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<private-chat></private-chat>



<div class="container mg-top-50">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


    <div *ngIf="listArt" class="container article" [style.height.px]="height+'px'">
        <div *ngFor="let a of listArt" class="panel panel-default">
            <div class="panel-body">
                <p><span class="title">
                <a [routerLink]="['/article',a._id]">{{a.title}}</a>
            </span></p>

                <p></p>

                <p>
                    tags :

                </p>

                <p>
                    <span class="dateArt">{{a.createdAt | date:"dd/MM/yyyy"}}</span>
                </p>

                <p>
                    <span *ngIf="a.ofUser" class="author">by : <a
                            [routerLink]="['/user',a.ofUser]">{{a.ofUser}}</a> </span>
                </p>

                <p *ngIf="a.tags.length!=0">
                    <tags [listTagId]="a.tags"></tags>
                </p>
            </div>
        </div>
    </div>
</div>
<private-chat></private-chat>