<div *ngIf="listArt" class="container article"  [style.height.px]="height+'px'">
    <a *ngIf="userToken != null" [routerLink]="['/article/create']" class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">add</i>
    </a>
    <div *ngFor="let a of listArt" class="panel panel-default">
        <div class="panel-body">
            <p><span class="title">
                <a [routerLink]="['/article',a._id]">{{a.title}}</a>
            </span></p>

            <p><span class="sumary">

            </span></p>


            <p>
                <span class="dateArt">{{a.createdAt | date:"dd/MM/yyyy"}}</span>
            </p>
            <p>
                <span *ngIf="a.ofUser" class="author">by : <a [routerLink]="['/user',a.ofUser]">{{a.ofUser}}</a> </span>
            </p>
            <p *ngIf="a.tags.length!=0">
                <tags [listTagId]="a.tags"></tags>
            </p>
        </div>
    </div>
</div>