<nav>
    <div class="nav-wrapper indigo darken-2">
        <a style="margin-left: 20px;" class="breadcrumb">Bảng</a>
        <a class="breadcrumb">Quản lý bài viết</a>

        <div style="margin-right: 20px;" id="timestamp" class="right"></div>
    </div>
</nav>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#tabAt" class="active">Hoạt động</a></li>
            <li class="tab col s3"><a href="#tabDa">Bị đóng</a></li>
            <li class="tab col s3"><a href="#tabPr">Riêng tư</a></li>
        </ul>
    </div>
    <div id="tabAt" class="col s12">
        <div class="row">
            <div class="col s12">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="left card-title">
                            <b>Quản lý bài viết</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input #gb id="filter" type="text" pInputText>
                            <label for="filter">Tìm kiếm</label>
                        </div>
                    </div>
                    <div class="row">
                        <p-dataTable [value]="artsAt" [rows]="10" [paginator]="true" [globalFilter]="gb">
                            <p-column field="title" header="Tiêu đề" [sortable]="true" [filter]="true">
                                <template let-a="rowData">
                                    <a [routerLink]="['/article/' , a._id ]">{{a.title}}</a>
                                </template>
                            </p-column>
                            <p-column styleClass="col-button" header="Chức năng">
                                <template let-a="rowData">
                                    <button type="button" pButton type="button"
                                            class="btn-floating waves-effect waves-light red"
                                            (click)="deActiveArt(a._id)">
                                        <i class="material-icons">remove</i>
                                    </button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabDa" class="col s12">
        <div class="row">
            <div class="col s12">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="left card-title">
                            <b>Quản lý bài viết</b>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <input #gb1 id="filter1" type="text" pInputText>
                        <label for="filter1">Tìm kiếm</label>
                    </div>
                    <div class="row">
                        <p-dataTable [value]="artsDa" [rows]="10" [paginator]="true" [globalFilter]="gb1">
                            <p-column field="title" header="Tiêu đề" [sortable]="true" [filter]="true">
                                <template let-a="rowData">
                                    <a [routerLink]="['/article/' , a._id ]">{{a.title}}</a>
                                </template>
                            </p-column>
                            <p-column styleClass="col-button" header="Chức năng">
                                <template let-a="rowData">
                                    <button type="button" pButton type="button"
                                            class="btn-floating waves-effect waves-light red"
                                            (click)="activeArt(a._id)">
                                        <i class="material-icons">lock_open</i>
                                    </button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabPr" class="col s12">
        <div class="row">
            <div class="col s12">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="left card-title">
                            <b>Quản lý bài viết</b>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <input #gb2 id="filter2" type="text" pInputText>
                        <label for="filter2">Tìm kiếm</label>
                    </div>
                    <div class="row">
                        <p-dataTable [value]="artsPr" [rows]="10" [paginator]="true" [globalFilter]="gb2">
                            <p-column field="title" header="Tiêu đề" [sortable]="true" [filter]="true">
                                <template let-a="rowData">
                                    <a [routerLink]="['/article/' , a._id ]">{{a.title}}</a>
                                </template>
                            </p-column>
                            <p-column styleClass="col-button" header="Chức năng">
                                <template let-a="rowData">
                                    <button type="button" pButton class="btn-floating waves-effect waves-light red"
                                            (click)="deActiveArt(a._id)">
                                        <i class="material-icons">remove</i></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<private-chat></private-chat>
