<!--register modals-->
<div class="login-box animated bounceIn" id="regBox">
  <div class="box-header">
    <h2>Register</h2>
  </div>
  <label for="regUname">Username</label>
  <br/>
  <input type="text" id="regUname" required maxlength="20">
  <br/>
  <label for="regPass">Password</label>
  <br/>
  <input type="password" id="regPass" required maxlength="20">
  <br/>
  <label for="regEmail">Email</label>
  <br/>
  <input type="text" id="regEmail" required maxlength="50">
  <br/>
  <label for="regDob">Date of Birth</label>
  <br/>
  <input type="text" id="regDob" required maxlength="50">
  <br/>
  <label for="regKnowledge">Field of study</label>
  <br/>
  <input type="text" id="regKnowledge" required maxlength="50">
  <br/>
  <button type="submit">Register</button>
  <br/>
  <a href="#" id="loginLink">
    <p class="small">Have an account? Click here to sign in</p>
  </a>
</div>
<!--End modal-->
