<div>
	<div class="col-md-6 col-sm-12">
		<form role="form" [ngFormModel]="updateRequestForm" (ngSubmit)="updateRequest(updateRequestForm.value)">
			<div class="form-group">
				<label class="control-label" for="title">Tiêu đề</label>
				<input class="form-control" id="title" name="title" type="text" placeholder="Tiêu đề" [ngModel]="title" [ngFormControl]="updateRequestForm.controls['title']">
			</div>
			<div class="form-group" hidden>
				<label class="control-label" for="id">RID</label>
				<input class="form-control" name="_id" id="id" type="text" [ngModel]="id" [ngFormControl]="updateRequestForm.controls['_id']">
			</div>
			<div class="form-group">
				<label class="control-label" for="description">Nội dung</label>
				<textarea id="description" name="description" class="form-control" rows="3" [ngModel]="description" 
					[ngFormControl]="updateRequestForm.controls['description']"></textarea>
			</div>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Cập nhập</button>
			<button type="reset" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Nhâp lại</button>
		</form>
	</div>
	<div class="col-md-6 col-sm-12">
	</div>
</div>