
    <div class="row">
      <div class="col-md-2 local-panel">
        <p class="peerName">{{username}}</p>
        <video id="localVideo"></video>
        <div id="rtcTools">
          <button id="chalkboard-btn" class="kspace-btn">
            <i class="fa fa-paint-brush fa-2x" aria-hidden="true"></i>
          </button>
          <button id="videocall-btn" class="kspace-btn">
            <i class="fa fa-video-camera fa-2x" aria-hidden="true"></i>
          </button>
          <button id="sharescreen-btn" class="kspace-btn">
            <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div id="remoteVideos"></div>

        <!-- /#remotes -->
      </div>
      <!-- /.md-2 -->
      <div class="col-md-10 kspace-panel">

        <div class="row">
          <div class="col s1"></div>
          <div class="col s10 mg-top-50">
            <chalkboard [id]="id"></chalkboard>
          </div>
          <div class="col s1"></div>
        </div>
        <div id="chat-panel">
          <div id="chat-box-output" class="panel panel-default chat-box">
            <div *ngFor="let msg of messages ">
              <div *ngIf="!msg.sender">
                <ul class="msg-box other-msg-box">
                  <li>{{msg.user}} :</li>
                  <li> {{msg.msg}} </li>
                  <li *ngIf="msg.url"><img src="{{msg.url}}" alt=""></li>
                </ul>
              </div>
              <div *ngIf="msg.sender" class="own-msg">
                <ul class="msg-box own-msg-box">
                  <li> {{msg.msg}}</li>
                  <li *ngIf="msg.url"><img src="{{msg.url}}" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
          <form id="chat-form" (ngSubmit)="send(mess,img)" >
            <input type="checkbox" id="img" name="img" [(ngModel)]="img" value="">
            <input type="text" id="chat-input" [(ngModel)]="mess" class="panel panel-default" placeholder="chat here">
            <button type="submit" id="btn-send"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </form>
        </div>
        <button id="chat"><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></button>
      </div>
      <!-- /.md- -->
    </div>
    <!-- /.row -->
