<br>
<br>
<br>
<br>
<div class="body-rq-page" id="sb-site">

  <div class="container">
    <div class="col-xs-12 col-sm-9 fixEfMenu">
      <div class="panel panel-default kspace card-rq">
        <iframe src="https://appear.in/your-room-name" width="780" height="489" frameborder="0"></iframe>

      </div>
    </div>
    <!-- chat box -->
    <div class="col-xs-12 col-sm-3 bg-white fixEfMenu">
      <chat [chatRoomId]="chatRoomId"></chat>
    </div>
  </div>
</div>
<script src="../../../../../kshare/templates/kspace/bundle.js"></script>
