
    <div class="row">
      <div class="col-md-2 local-panel">
        <p class="peerName">{{username}}</p>
        <video id="localVideo"></video>
        <div id="rtcTools">
          <button id="chalkboard-btn" class="kspace-btn">
            <i class="fa fa-paint-brush fa-2x" aria-hidden="true"></i>
          </button>
          <button id="videocall-btn" class="kspace-btn">
            <i class="fa fa-video-camera fa-2x" aria-hidden="true"></i>
          </button>
          <button id="sharescreen-btn" class="kspace-btn">
            <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div id="remoteVideos"></div>

        <!-- /#remotes -->
      </div>
      <!-- /.md-2 -->
      <div class="col-md-10 kspace-panel">
        <div id="kspace-panel" class="kspace">
          <chalkboard [id]="id"></chalkboard>
        </div>
        <div id="chat-panel">
          <div id="chat-box-output" class="panel panel-default chat-box">
            <p *ngFor="let mess of messages" >{{mess}}</p>
          </div>
          <form id="chat-form">
            <textarea id="chat-input" #mess class="panel panel-default" placeholder="chat here"></textarea>
            <button type="submit" id="btn-send" (click)="chatting(mess.value)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </form>
        </div>
        <button id="chat"><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></button>
      </div>
      <!-- /.md- -->
    </div>
    <!-- /.row -->
