
  <div class="row">
    <div class="col m3"></div>
    <!-- /.col-md-3 -->
    <div class="col m6">
      <div *ngIf="errorMessage" class="errmess">{{errorMessage}}</div>

      <div *ngIf="step === 2">
        <h3>Chúng tôi đã gửi một email khôi phục mật  đến địa chỉ: {{email}} </h3>
      </div>
      <div *ngIf="step === 1" class="loginPanel">
        <div class="box-header">
          <h3>Phục hồi mật khẩu </h3>
        </div>
        <form  (ngSubmit)="sendEmail(email.value)">
          <div class="input-field col s12">
            <input class="form-control form-text" id="email" type="email" required maxlength="70"
                   name="email"
                   #email
            />
            <label for="email">Email phục hồi mật khẩu</label>
          </div>
          <div class="row">
            <div class="col s6">
              <button class="btn waves-effect waves-light" type="submit">Gửi Email </button>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col s6">
              <button class="btn waves-effect waves-light blue" type="reset" [routerLink]="['/reg']">Đăng ký</button>
            </div>
          </div>
          <!-- /.row -->

       </form>
      </div>
        <!-- /.loginPanel -->
      </div>
    <!-- /.col-md-6 -->
    <div class="col s3 m3"></div>
    <!-- /.col-md-3 -->
  </div>
  <!-- /.row -->
