.article{
  margin-top: 100px;
}
.isLinkPn{
  margin-right: 43em;
}
#inputTitle{
  margin-bottom: 1em;
}
.hidden{
  display: none;
}
.editor{
  margin-bottom: 1em;
  margin-top: 1em;
}
.bodyArt .img{
  width:100%;
  max-width:700px;
}
.btn-art{
  float: right;
}
.titleArtDe{
  font-size: 3rem;
}
.byAu{
  font-style: italic;
}