
<ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
        <div class="indigo darken-2 white-text" style="height: 64px;">
            <div class="row">
                <h3 class="logo">K</h3>
            </div>
        </div>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin/dashboard']" class="waves-effect">Thống kê</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin/users']" class="waves-effect">
            Người dùng </a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin/knowledges']" class="waves-effect"> Tri thức</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin/requests']" class="waves-effect"> Yêu cầu</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin/tags']" class="waves-effect"> Quản lý Tag</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/admin/articles']" class="waves-effect">Quản lý bài viết</a>
    </li>
    <!--<li>
        <a href="ksspaces.html"><i class="fa fa-fw fa-desktop"></i> Kspace</a>
    </li>-->
    <li>
        <a [routerLink]="['/admin/reports']" class="waves-effect"> Báo cáo vi phạm</a>
    </li>
</ul>
